*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
} /* todos los elementos */

:root {
  --primary: #1173d4;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #101922;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255,255,255,0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
}

/* https://midu.link/html 
https://midu.link/css */
/*selector + normas */
body {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 1.6;
  min-height: 100vh; /* altura mínima de la altura de la pantalla 100 es todo, vh es viewhigh*/
}

/* títulos principales */

h1 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
}

h1 + p {
  margin-bottom: 2rem;
  text-wrap: balance;
}

header{
  align-items: center;
  background: var(--background);
  border-bottom: 1px solid var(--border);
  color: var(--text-primary);
  display: flex;
  font-weight: 700;
  gap: 2rem;
  justify-content: space-between;
  padding: .5rem 1rem;
}

/* navegación del header a otras páginas */
nav {
  a{
    text-decoration: none;
    color: var(--text-secondary);
    transition: color 0.2s;
    font-weight: 500;

    &:hover, &:focus {
      color: var(--primary);
      outline: none;
    }
  }
  align-items: center;
  display: flex;
  gap: 1rem;
}

/* footer */
footer {
  background-color: var(--background);
  border-top: 1px solid var(--border);
  padding: 16px;
  small{
    color:var(--text-muted);
    font-size: 0.875rem;
  }
  text-align: center;
}

article {
  background-color: var(--card-bg);
  padding: 2rem;
}