*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
} /* todos los elementos */

:root {
  --primary: #1173d4;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #101922;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255,255,255,0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
}

/* https://midu.link/html 
https://midu.link/css */
/*selector + normas */
body {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 1.6;
  min-height: 100vh; /* altura mínima de la altura de la pantalla 100 es todo, vh es viewhigh*/
}

/* títulos principales */

h1 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.2;
}

header{
  align-items: center;
  background: var(--background);
  border-bottom: 1px solid var(--border);
  color: var(--text-primary);
  display: flex;
  font-weight: 700;
  gap: 2rem;
  justify-content: space-between;
  padding: .5rem 1rem;
}

/* navegación del header a otras páginas */
nav {
  a{
    text-decoration: none;
    color: var(--text-secondary);
    transition: color 0.2s;
    font-weight: 500;

    &:hover, &:focus {
      color: var(--primary);
      outline: none;
    }
  }
  align-items: center;
  display: flex;
  gap: 1rem;
}

body > header:nth-child(1) div {
  button {
    background-color: var(--primary);
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    transition: color 0.2s;

    &:focus, &:hover {
      color: var(--primary);
      background-color: var(--primary-dark);
      outline: none;
    }
  }
}

/* main hero  */

main > section:nth-child(1) {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  justify-content: center;
  img {
    width: 100%;
    height: auto;
    filter: brightness(0.35);
    position: absolute;
  }
  .overlay {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(15, 23, 42, 0) 0%,
      var(--background) 85%,
    )
  }
}

main > section:nth-child(1) > .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.75rem;
  margin: 0 auto;
  padding: 2rem 1rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }

  p {
    color: var(--text-secondary);
    font-size: 0.95rem;
  }

  form[role="search"] {
    margin-top: 0.75rem;
    width: 100%;
    max-width: 640px;
    margin-inline:auto;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    background-color: rgba(15,23,42,0.9);
    border-radius:100px;
    padding: 0.75rem 1rem;
    border: 1px solid rgba(148, 163, 184, 0.4);
    
    svg{
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      color: var(--text-muted);
    }

    input{
      flex: 1;
      border: none;
      background: transparent;
      color: var(--text-primary);
      font-size: 0.9rem;
      outline: none;
    }

    input::placeholder {
      color: var(--text-muted)
    }

    button {
      border: none;
      background-color: var(--primary);
      color: var(--text-primary);
      padding: 0.5rem 1.25rem;
      border-radius: 100px;
      font-weight: 600;
      cursor: pointer;
      font-size: 0.9rem;
      white-space: nowrap;
      transition: background-color 0.2s, transform 0.1s;
    }

    button:hover, button:focus {
      background-color: var(--primary-hover);
      outline: none;
      transform: translate(Y);
    }
  }
}




/* footer */
footer {
  background-color: var(--background);
  border-top: 1px solid var(--border);
  padding: 16px;
  small{
    color:var(--text-muted);
    font-size: 0.875rem;
  }
  text-align: center;
}

article {
  background-color: var(--card-bg);
  padding: 2rem;
  margin-bottom: 16px;
  border-radius: 2rem 0 2rem 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

  svg {
    color: var(--primary-light);
    background: rgba(0, 153, 255, .3);
    width: 65px;
    height: 64px;
    border-radius: 100%;
    padding: 16px;
  }

  p{
    color: var(--text-muted);
  }

  h3{
    font-weight: 500;
  }
}

/* de derecha a izq = el footer que esta dentro del section que es
el segundo hijo del main */
main > section:nth-child(2) header {
  display: flex;
  flex-direction: column;
}

main > section:nth-child(2) footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (width >= 640px) {
  main > section:nth-child(2) footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}